// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';

.a4-vertical {
    letter-spacing: -0.04em;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5cm;
  }
  
  .a4-horizontal {
    letter-spacing: -0.04em;
    width: 29.7cm;
    height: 21cm;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5cm;
  }

  @media print {
    .a4-vertical,
    .a4-horizontal {
      box-shadow: none;
      margin-bottom: 0;
    }
    .page-break {
      page-break-before: always;
    }
  }

  img {
    border-radius: 10px;
}
