---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
    <Hero />
    <section class="my-64">
        <div class="container">
            <h2 class="mb-16 text-6xl">Skills</h2>
            <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
                <Feature img="https://raw.githubusercontent.com/Teerut26/vscode-material-icon-theme/main/icons/react.svg" title="React JS" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/next.svg" title="Next JS" />
                <Feature img="https://raw.githubusercontent.com/Teerut26/vscode-material-icon-theme/main/icons/vue.svg" title="Vue JS" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/nuxt.svg" title="Nuxt JS" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/svelte.svg" title="Svelte" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/svelte.svg" title="Svelte Kit" />
                <Feature icon="mdi:tailwind" title="Tailwind CSS" />
                <Feature img="/emotion.png" title="Emotion CSS" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/nodejs.svg" title="Node JS" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/nest.svg" title="Nest JS" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/graphql.svg" title="GraphQL" />
                <Feature img="https://trpc.io/img/logo.svg" title="tRPC" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/python.svg" title="Python" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/java.svg" title="Java" />
                <Feature img="https://github.com/Teerut26/vscode-material-icon-theme/raw/main/icons/cpp.svg" title="C++" />
            </div>
        </div>
    </section>
    <!-- <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->
    <!-- <section class="mb-32 mt-64">
        <div class="container">
            <h2 class="mb-16 text-6xl">Counters</h2>
            <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
                <Counter count="130" title="Stars" sub="On GitHub" />
                <Counter count="17" title="Accessible" sub="Components" />
                <Counter count="500" title="Commits" sub="Merged" />
                <Counter count="18+" title="Months" sub="Since launch" />
            </div>
        </div>
    </section> -->
</DefaultLayout>
