---
import FooterCopy from './FooterCopy'
const lastUpdated = new Date().toLocaleDateString('en-US')
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <FooterCopy client:only />
      <p>
        (Last updated on {lastUpdated})
      </p>
    </div>
  </section>
</footer>
