---
import FooterCopy from './FooterCopy'
const lastUpdated = new Date().toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: "Asia/Bangkok",
})
---

<footer class="print:hidden">
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <FooterCopy client:only />
      <p>
        (Last updated:  {lastUpdated})
      </p>
    </div>
  </section>
</footer>
