---
import { Icon } from 'astro-icon'

const { src = '/porfile.png' } = Astro.props
---

<section class="hero my-24">
    <div class="container">
        <div class="flex items-center justify-center gap-24">
            <div class="flex flex-col items-center gap-8 md:items-start">
                <h1 class="text-center md:text-left">
                    <slot>
                        <span class="text-gradient">TEERUT SRITHONGDEE</span>
                        <div class="text-6xl lg:text-7xl">
                            <span class="hidden text-sm md:block">{'👇👇 '}Nick Name</span>HOPE
                        </div>
                        <div class="text-xl">Welcome to my portfolio, I hope you enjoy. my portfolio</div>
                        <div class="mt-2 flex flex-col items-center gap-2 text-sm md:items-start">
                            <div class="hidden md:block">Computer Science student at Kasetsart University</div>
                            <a href="https://wakatime.com/@c8d96fb5-8891-4032-89a1-0ab5747b03ce">
                                <img
                                    src="https://wakatime.com/badge/user/c8d96fb5-8891-4032-89a1-0ab5747b03ce.svg"
                                    class="w-48 md:w-64"
                                    alt=""
                                />
                            </a>
                        </div>
                    </slot>
                </h1>
                <div class="flex flex-col gap-3 min-[500px]:flex-row">
                    <a class="button has-icon color-secondary" href="/projects">
                        <Icon name="ri:git-repository-line" />
                        My Project
                    </a>
                    <a class="button has-icon" href="https://github.com/Teerut26">
                        <Icon name="mdi:github" />
                        My Github
                    </a>
                </div>
            </div>
            <img class="hidden w-[20rem] rounded-full lg:block" src={src} alt="" decoding="async" />
        </div>
    </div>
</section>

<style lang="scss">
    .text-gradient {
        background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    :global(.darkmode .text-gradient) {
        background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
