---
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'

const {
    title = 'Teerut Portfolio',
    description = 'Teerut is a full-stack developer with a passion for building beautiful and functional websites and applications.',
    url = 'https://teerut.me',
    author = 'Teerut Srithongdee',
    ogImage = "/profile_2.webp"
} = Astro.props
---

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- favicon -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script async src="https://eu.umami.is/script.js" data-website-id="81607876-b154-4ac9-aaf1-062fb84ff756"></script>
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "mgxddn1uou");
        </script>
        <SiteMeta title={title} description={description.substring(0, 100)} author={author} url={url} ogImage={ogImage} />
        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N4DQ4RTW');
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4DQ4RTW"
            height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <main id="main-content">
            <slot />
        </main>
        <style lang="scss" is:global>
            // theme settings
            :root {
                --radius-small: 3px;
                --radius-large: 6px;
                --gap-default: 2rem;
                --font-measure: 70ch;
                --font-family-default: 'Open Sans', sans-serif;
                --font-family-special: 'Open Sans', sans-serif;
                // light theme
                --font-color: var(--neutral-900);
                --action-color: var(--primary-300);
                --action-color-state: var(--primary-500);
                --background: var(--neutral-100);
                --primary-background: var(--primary-100);
                --neutral-background: var(--neutral-200);
            }

            // dark color scheme overrides
            .darkmode {
                --font-color: var(--neutral-100);
                --action-color: var(--secondary-100);
                --action-color-state: var(--secondary-500);
                --background: var(--dark-100);
                --primary-background: var(--primary-500);
                --neutral-background: var(--neutral-900);
            }

            // sticky footer on low content pages
            html,
            body {
                height: 100%;
            }

            body {
                display: flex;
                flex-direction: column;
                color: var(--font-color);
                background-color: var(--background);

                main {
                    flex: 1 0 auto;
                }

                footer {
                    flex-shrink: 0;
                }
            }

            pre {
                padding: 1rem;
                border-radius: 0.35rem;
                border: 2px solid var(--action-color);
            }

            body .pagination a {
                &:hover,
                &:focus-visible {
                    background-color: var(--action-color-state);

                    svg path {
                        stroke: white;
                    }
                }
            }
        </style>
    </body>
</html>
